<form action="">
    <h1>DELETAR CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="categoria.nome" matInput type="text" name="nome" disabled="true">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea [(ngModel)]="categoria.descricao" matInput type="text" name="descricao" disabled="true"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" color="warn" mat-raised-button>Deletar</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button>Cancelar</button>
    </div>

</form>
